language: android

jdk: oraclejdk7

android:
  components:
    - build-tools-23.0.1
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository

  licenses:
    - 'android-sdk-license-.+'

branches:
  except:
    - master
    - gh-pages

notifications:
  email:
    - halysongoncalves@gmail.com

script:
    - ./gradlew assemble